<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogFile="c:\log.txt" internalLogLevel="trace"
	  >
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Database"/>
	</extensions>
	<targets>
		<target xsi:type="File" name="targetCategory1Log" fileName="c:\logs\${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
					archiveAboveSize="1000"
					maxArchiveFiles="3"
				/>

		<target xsi:type="File" name="targetCategory2Log" fileName="category.log"
						layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
							archiveAboveSize="1000"
							maxArchiveFiles="3"/>

		<target xsi:type="Database" name="logToDatabase" >
			<connectionString>
				Server=JINLONG\SQLEXPRESS;Database=SampleWebApiDb;User Id=sa,Password=sa2014;Trusted_Connection=True;MultipleActiveResultSets=true;
			</connectionString>
			<commandText>
				INSERT INTO DBLog (LoggedDate, Level, Message, Logger) VALUES (@date, @level, @message, @logger)
			</commandText>
			<parameter name="@date" layout="${longdate}" />
			<parameter name="@level" layout="${level:uppercase=true}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
		</target>
		<!--byte-->
	</targets>
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="logCategory1Target" minlevel="Trace" writeTo="targetCategory1Log" />
		<logger name="logCategory2Target" minlevel="Trace" writeTo="targetCategory2Log" />
		<logger name="logDatabaseTarget" minlevel="Trace" writeTo="logToDatabase" />
	</rules>
</nlog>